.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: rgb(187, 228, 228);
    gap: 2vh;
}
.opciones {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 228, 166);
    width: 20%;
}
.butomOpciones{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    a{
        text-decoration: none;
        color: black;
        font-size: 2vh;
        font-weight: bold;
        text-align: center;
        padding: 1vh;
        border: 1px solid purple;
        border-radius: 2vh;
    }
 
}

.verProductos {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-color: rgb(208, 178, 236);
    width: 80%;
}
.container{
    display: flex;
    flex-direction: row;
}
.product {
    padding: 3vh;
    border-radius: 5vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column
}
.btn {
    padding: 2vh;
    border-radius: 5vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 228, 166);
}
